  <img class="avatar-bordered" src="../images/anne.jpg" alt="Anne">
  <a href="../team.html">Anne</a>
  <img class="avatar-bordered"src="../images/romain.jpeg" alt="Romain">
  <a href="../team.html">Romain</a>
  <img class="avatar-bordered"src="../../images/seb.jpg" alt="Seb">
  <a href="../team.html">Seb</a>

